# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ItemSpawner.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projects\BSMod\ItemSpawner\.idea\.idea.ItemSpawner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
